aravindsherla-n8n-workflows/fl5KrvNn9Mr8W0sz-Agentic-Restaurant-Customer-Care.json
{
  "name": "Agentic-Restaurant-Customer Care",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6dc2b896-e223-4f7c-ad1c-a5fe444cd9c6",
      "name": "When chat message received",
      "webhookId": "dbbf9f10-780b-4740-82d7-6238a586e840"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Back context: Aravind Sherla restaurant is the leading fast food restaurant in the city.\n\nRole: You have to converse with the user in a friendly manner. People come to you when they have some issues with our food, service etc. Your job is to listen to their problems first and then collect their name and email. After getting to know the issue, always apologize and make them feel heard.\n\nTone: Be patient, make them feel comfortable. Be concise, helpful and friendly. Never overwhelm the user with long messages, act like a professional.\n\nConversational flow:\nIntroduction: Introduce yourself,and ask how you can assist them.\n\nIssue Intake: Ask them a couple of questions to know their issue better.\n\nApologise and ask for name.\n\nAddress them by their name and ask for their phone number to reach back.\n\nconfirm that the someone from our team will reach you.\n\nNotes:\n- Useless emojis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "9273a2d0-7d7b-4b59-8e6f-c0980a30b291",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        360
      ],
      "id": "9de9081a-f2b4-47e3-ab04-a5770dbf6f0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "3f05f387-f709-4b2c-ab24-eca362f7156a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KVcxES2D9yziCKLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "call this tool with customer's Name, phone number and issue to inform the team.",
        "sendTo": "sherla.aravindkumar@gmail.com",
        "subject": "New Issue Resolution",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `write a straightforward mail to email send customer's name,phone number and issue.format the mail in the readable format,use <br> tag for the new line.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        500,
        200
      ],
      "id": "ccb7f76b-5f92-4288-ad38-bfbfd2dcc930",
      "name": "Gmail1",
      "webhookId": "7aede4e4-786f-4f24-b2bd-d9b921414716",
      "credentials": {
        "gmailOAuth2": {
          "id": "pjdIJryUI0G1EffS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ofRAMdcQ1o7OXApf6VaCNovV-Pp_EpzB",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ofRAMdcQ1o7OXApf6VaCNovV-Pp_EpzB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "id": "40db9db3-9bc1-49ab-bdc5-2112fb4482d5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "f38ELHOeGv7YjyMV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        400
      ],
      "id": "a7ee4567-c570-4101-924a-1b321d521461",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "f38ELHOeGv7YjyMV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1080,
        400
      ],
      "id": "f415a9f1-ab00-4b10-be6f-c2e563e90355",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "extract the name, profession, email, phone number and address from the given pdf text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ],
      "id": "62a525dc-b5f9-4422-8d44-5183e23c58bb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        520
      ],
      "id": "c78a737c-6da9-4089-99e8-aa1a07150b05",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KVcxES2D9yziCKLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"userDetails\": {\n    \"name\": \"John Doe\",\n    \"phoneNumber\": \"+1-234-567-8901\",\n    \"email\": \"john.doe@example.com\",\n    \"address\": {\n      \"line1\": \"123 Main Street\",\n      \"line2\": \"Apt 4B\",\n      \"city\": \"Springfield\",\n      \"state\": \"IL\",\n      \"postalCode\": \"62704\",\n      \"country\": \"USA\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1480,
        620
      ],
      "id": "274e82a3-73cd-4818-bab3-a757cd451238",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "description": "call this to get answers to out of scope questions.",
        "workflowId": {
          "__rl": true,
          "value": "aCSUC0729GXe7isL",
          "mode": "list",
          "cachedResultName": "RAG-KnowledgeTool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question', ``, 'string') }}"
          },
          "matchingColumns": [
            "question"
          ],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        740,
        120
      ],
      "id": "74bed6be-a58c-4bbe-a833-762618218fbf",
      "name": "Knowledge-Tool-n8n-Call"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge-Tool-n8n-Call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-06-04T20:42:41Z"
    }
  },
  "pinData": {},
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}